.questions{
  text-align: center;
}
.timer{
  text-align: center;
}
body{
  background-image: url("http://www.lonelyplanet.com/travel-blog/tip-article/wordpress_uploads/2017/08/shutterstock_611229743-bde2e023e33c.jpg");
}
